Analise_Barbearia/logs-pauloavm-streamlit_academy-main-Analise_Barbearia-analise_barbearia.py-2025-08-09T15_12_49.826Z.txt
Analise_Barbearia/logs-pauloavm-streamlit_academy-main-Analise_Barbearia-analise_barbearia.py-2025-08-09T15_29_24.097Z.txt
